@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

$color1: #E7F1F1;
$color2: #66D9D9;
$color3: #4EA6A6;
$color4: #2A5959;
$color5: #455959;


