//* FOOTER BACKGROUND : START
.footerEdit {
    background-color: black;
}
//* FOOTER BACKGROUND : END


//* FOOTER LOGO : START
.footerLogo {
    display: flex;
    justify-content: center;
        align-items: center;
    img{
        width: 120px;
    }
}
//* FOOTER LOGO : END


//* FOOTER TEXT : START
.footerUbicacion {
    padding: 20px;

    h4 {
        color: white;
        font-family: 'Bebas Neue', cursive;
        font-size: 3.5vh;
        text-align: center;
    }

    p {
        color: gray;
        font-family: 'Bebas Neue', cursive;
        font-size: 2.5vh;
        text-align: center;
        margin: 0px;
    }
}

.footerTelefono {
    @extend .footerUbicacion;
}
//* FOOTER TEXT : END