//* MAIN-GREETING TEXT : START
.MainContainerGreeting {
    h2 {
        margin-top: 10px;
        color: black;
        font-family: 'Bebas Neue', cursive;
        font-size: 6.5vh;
        text-align: center;
    }
    p{
        color: black;
        font-family: 'Bebas Neue', cursive;
        font-size: 3.5vh;
        text-align: center;
        margin: 0px;
    }
}
//* MAIN-GREETING TEXT : END