//* MAIN-GREETING TEXT : START
.MainContainerGreeting {
    h2 {
        margin-top: 30px;
        padding: 0px 20px;
        color: black;
        font-family: 'Bebas Neue', cursive;
        font-size: 6.5vh;
        text-align: center;
    }
    p{
        padding: 0px 20px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 3.5vh;
        text-align: center;
        margin: 0px;
    }
}
//* MAIN-GREETING TEXT : END


//* MAIN-PRUDUCT : START
.productoImg{
    display: block;
    margin: auto;
    width: 60%;
}
.card-body {
    text-align: center;
}

h5 {
    margin-top: 10px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 6.5vh;
    text-align: center;
}

.number-product{
    margin: 10px 20px 0px 20px;
    color: black;
    font-family: 'Bebas Neue';
    font-size: 3.5vh;
    text-align: center;
}

p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vh;
    font-style: italic;
    text-align: center;
    margin: 0px;
}


//* MAIN-GREETING TEXT : START